# Database Configuration
DB_HOST=db
DB_USER=user
DB_PASSWORD=password
DB_NAME=workout_db
DB_ROOT_PASSWORD=rootpassword

# Application Ports
NEXT_PORT=3001
NEXT_PUBLIC_API_PORT=5001
DB_PORT=3306

# Node Environment
NODE_ENV=development